html{
    position: relative;
}
body{
    margin-bottom: 100px;
    margin-top: 30px;
}
.jumbotron .logo { 
    height: 200px;
    width: auto;
    border: 4px solid #666;
    box-shadow: 0 0 3px 5px rgba(0,0,0,.5);
}
hr{
    width: 250px;
    border-top: 5px solid #666;
}
.jumbotron .logo{
    width: 200px;
    height: 200px;
}
section{
    min-height: 600px;
}
.media{
    background-color: rgb(211, 207, 207);
}
.media img{
    width: 200px;
    height: auto;
    box-shadow: 0 30px 10px -20px rgba(0,0,0,.75);
    transition: .3s;
    border-radius: 50%;
}
.media img:hover{
    box-shadow: 0 80px 10px -40px rgba(0,0,0,.15);
    margin-top: 40px;
}
.media .github{
    width: 200px;
    height: auto;
}
.contact{
    min-height: 800px;
}
footer{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: #333;
    padding-top: 30px;
}
footer p{
    color: #aaa;
    font-size: 1em;
}